/*
html
<i class="sprite sprite-1"></i>
<i class="sprite sprite-2"></i>
<i class="sprite sprite-3"></i> 
*/

.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-1 {
    width: 30px;
    height: 30px;
    background-position: -5px -5px;
}

.sprite-2 {
    width: 30px;
    height: 30px;
    background-position: -45px -5px;
}

.sprite-3 {
    width: 30px;
    height: 30px;
    background-position: -85px -5px;
}

/*
html
<i class="sprite sprite-1"></i>
<i class="sprite sprite-2"></i>
<i class="sprite sprite-3"></i>
<i class="sprite sprite-4"></i>
<i class="sprite sprite-5"></i>
*/

.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-1 {
    width: 16px;
    height: 16px;
    background-position: -5px -5px;
}

.sprite-2 {
    width: 16px;
    height: 16px;
    background-position: -31px -5px;
}

.sprite-3 {
    width: 16px;
    height: 16px;
    background-position: -57px -5px;
}

.sprite-4 {
    width: 16px;
    height: 16px;
    background-position: -83px -5px;
}

.sprite-5 {
    width: 16px;
    height: 16px;
    background-position: -109px -5px;
}