/*main*/
body {
	color: #8f8f8f;
	font: 12px Tahoma, sans-serif;
	background-color: #f8f8f8;
	border-top: 5px solid #7e7e7e;
	margin: 0;
}
input[type="text"] {
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
	height: 30px;
	color: #b2b2b2;
	padding: 0 10px;
	vertical-align: top;
}
button {
	color: #fff;
	background-color: #29c5e6;
	border: none;
	height: 32px;
	font-family: 'Oswald', sans-serif;
}
p {
	margin: 20px 0;
	text-align: justify;
}
/*body*/
/*header*/
#wrapper {
	max-width: 960px;
	margin: auto;
}
header {
	padding: 20px 0;
}
/* стили выравнивания по правому краю для формы поиска: */
form[name="search"] {
	float: right;
}
/* Меню */
/* стили для списка меню будут следующие */
nav a {
	text-decoration: none;
}
nav ul {
	margin: 0;
	padding: 0;
}
nav li {
	list-style-position: inside;
	font: 14px 'Oswald', sans-serif;
	padding: 10px;
}
.top-menu li {
	display: inline-block;
	padding: 10px 30px;
	margin: 0;
}
.top-menu li.active {
	background: #29c5e6;
	color: #fff;
}
.top-menu a {
	color: #b2b2b2;
}
/* Здесь мы указали, что для всех навигаций ссылки не будут иметь подчеркивания, 
убрали стандартные отступы для элементов списка, отобразили список горизонтально 
и указали нужные цвета и шрифт. */

/* Заголовок страницы */
#heading {
	background: transparent url(../img/h1_bg.png);
	margin: 30px 0;
	padding-left: 20px;
}
h1 {
	display: inline-block;
	color: #7e7e7e;
	font: 40px/40px 'Oswald', sans-serif;
	background: url(../img/bg.png);
	margin: 0;
	padding: 0 10px;
}
/* Рисуем серую полоску фоном на div’e, и в нее вкладываем инлайновый h1 с нужным шрифтом и фоном цвета страницы, 
чтобы создалось впечатление прозрачного фона для h1. */

/* Колонки 
Для того, чтобы создать колонки страницы */
aside {
	float: left;
	width: 250px;
}
section {
	margin-left: 280px;
	padding-bottom: 50px;
}
/* Здесь мы задали фиксированную ширину 250 пикселей для сайдбара, 
прибили его к левому краю и отодвинули колонку с контентом вправо на 280 пикселей от левого края. 
Также добавили отступ у контента снизу. */

.aside-menu li {
	font-weight: 300;
	list-style-type: square;
	border-top: 1px solid #e7e7e7;
}
.aside-menu li:first-child {
	border: none;
}
.aside-menu li.active {
	color: #29c5e6;
}
.aside-menu a {
	color: #8f8f8f;
}
/* Для подменю применяется более тонкий шрифт и квадратные маркеры. 
Для отображения разделителей рисуем верхнюю границу у каждого элемента списка, кроме первого.*/

/* Контент сайдбара */

aside > h2 {
	background: #29c5e6;
	font: 14px 'Oswald', sans-serif;
	color: #fff;
	padding: 10px;
	margin: 30px 0 0 0;
}
aside > p {
	background: #f3f3f3;
	border: 1px solid #e7e7e7;
	padding: 10px;
	margin: 0;
}
/* Данные стили применяются только к заголовкам и параграфам, лежащим непосредственно внутри сайдбара, но не глубже. */

/* Цитата */
blockquote {
	margin: 0;
	background: #29c5e6;
	padding: 10px 20px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}
blockquote p {
	color: #fff;
	font-style: italic;
	font-size: 33px;
	margin: 0;
}
blockquote cite {
	display: block;
	font-size: 20px;
	font-style: normal;
	color: #1d8ea6;
	margin: 0;
	text-align: right;
}
figure {
	display: inline-block;
	margin: 0;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}
figure img {
	display: block;
	border: 1px solid #fff;
	outline: 1px solid #c9c9c9;
}
figure figcaption {
	font-size: 16px;
	font-weight: 300;
	margin-top: 5px;
}
figure figcaption span {
	display: block;
	font-size: 14px;
	color: #29c5e6;
}
section > figure + figure {
	margin-left: 28px;
}
/* Здесь мы убрали стандартные отсупы у figure, отобразили его как инлайновый блок и применили нужный шрифт. 
Изображение отображаем как блочный элемент с белой рамкой. Вторую серую рамку можно сделать через css-свойство outline. 
Самое интересное находится в последнем правиле, которое задает левый отступ у всех figure кроме первого внутри тега section. */

/* Блок «Our team» */

/* Стиль заголовка */
section > h2 {
	background: #29c5e6;
	font: 30px 'Oswald', sans-serif;
	font-weight: 300;
	color: #fff;
	padding: 0 10px;
	margin: 30px 0 0 0;
}
/* Стили для карточки команды */
figure figcaption {
	font-size: 16px;
	font-weight: 300;
	margin-top: 5px;
}
figure div {
	font-size: 14px;
	color: #29c5e6;
}
.team-row figure {
	margin-top: 20px;
}
.team-row figure + figure {
	margin-left: 43px;
}
/* Здесь мы задали шрифт и отступ для подписи, размер и цвет должности, добавили верхний отступ для карточек и указали, 
что для всех карточек в строке, кроме первой, должен быть отступ слева. */

/* Футер */
footer {
	background: #7e7e7e;
	color: #dbdbdb;
	font-size: 11px;
}
#footer {
	max-width: 960px;
	margin: auto;
	padding: 10px 0;
	height: 90px;
}
/* Контейнер с id=footer находится внутри тега footer, это даёт нам возможность через тег footer задать серую область по всей ширине экрана, 
а через внутренний div отцентрировать с максимальной шириной 960 пикселей. Также этот div задает обоим блокам высоту 90 пикселей. */

footer h3 {
	font: 14px 'Oswald', sans-serif;
	color: #fff;
	border-bottom: 1px solid #919191;
	margin: 0 0 10px 0;
}
/* Лента твиттера */
#twitter time a {
	color: #b4aeae;
}
footer p {
	margin: 5px 0;
}
#twitter {
	float: left;
	width: 300px;
}
#twitter p {
	padding-right: 15px;
}
/* Из интересных моментов здесь следующее: подчеркивание у заголовка мы сделали через нижнюю границу, 
а сам блок твиттера, как и последующие блоки выровняем по левому краю и задаём ширину. */
footer a {
	color: #dbdbdb;
}
/* Карта сайта */
#sitemap {
	width: 150px;
	float: left;
	margin-left: 20px;
	padding-right: 15px;
}
#sitemap div {
	display: inline-block;
}
#sitemap div + div {
	margin-left: 40px;
}
#sitemap a {
	display: block;
	text-decoration: none;
	font-size: 12px;
	margin-bottom: 5px;
}
#sitemap a:hover {
	text-decoration: underline;
}
/* Ссылкам задаем цвет и оставляем подчеркивание только для наведённых.
Колонки со ссылками делаем через инлайновые блоки и затем свойством #sitemap div + div отодвигаем вторую колонку от первой. */

/* Социальные ссылки */
#social {
	float: left;
	margin-left: 20px;
	width: 130px;
}
.social-icon {
	width: 30px;
	height: 30px;
	background: url(img/social.png) no-repeat;
	display: inline-block;
	margin-right: 10px;
}
.social-icon-small {
	width: 16px;
	height: 16px;
	background: url(img/social_small.png) no-repeat;
	display: inline-block;
	margin: 5px 6px 0 0;
}
.twitter {
	background-position: 0 0;
}
.facebook {
	background-position: -30px 0;
}
.google-plus {
	background-position: -60px 0;
}
.vimeo {
	background-position: 0 0;
}
.youtube {
	background-position: -16px 0;
}
.flickr {
	background-position: -32px 0;
}
.instagram {
	background-position: -48px 0;
}
.rss {
	background-position: -64px 0;
}
/* Здесь мы применили технику спрайтов – когда один файл с изображением применяется для разных картинок. 
Все ссылки разделились на большие иконки (.social-icon) и маленькие (.social-icon-small). 
Мы задали этим классом отображение в виде инлайнового блока с фиксированными размерами и одинаковым фоном. 
А затем с помощью css сдвинули этот фон так, чтобы на каждой ссылке отобразилось соответствующее изображение. */

/* Копирайт */
#footer-logo {
	float: right;
	margin-top: 20px;
	font-size: 10px;
	text-align: right;
}
/* Стили делают аналогично предыдущим блокам с той лишь разницей, что блок прибивается к правому краю 
и выравнивание внутри него так же по правому краю */